<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.niewiel.pracadyplomowa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--features-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--photo provider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="pl.niewiel.pracadyplomowa.activity.CameraActivity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- database config -->

        <meta-data
            android:name="VERSION"
            android:value="10" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="pl.niewiel.pracadyplomowa.database.model" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity" />

        <activity
            android:name=".activity.Splash"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" />

        <activity
            android:name=".fragments.lists.BuildView"
            android:label="@string/title_activity_build" />
        <activity
            android:name=".fragments.lists.ComponentView"
            android:label="@string/title_activity_component"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.ComponentTypeActivity"
            android:label="@string/title_activity_component_type"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name=".fragments.lists.BuildingView"
            android:label="@string/title_activity_building" />

        <activity
            android:name=".fragments.add_edit.AddOrEditComponentType"
            android:label="@string/title_activity_add" />
        <activity android:name=".activity.CameraActivity" />

        <service
            android:name=".services.TokenService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERNET" />
        <service
            android:name=".services.OnlineChecker"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERNET" />
    </application>

</manifest>